.about_section{
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about_text{
  width: 360px;
}

.about_text h1{
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
  font-weight: bold;
}

.about_text p{
  text-align: justify;
  text-justify:auto;
  color: #383838;
}

.about_section img{
  width: 520px;
  border-radius: 40px;
}