li{
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

li:hover{
  opacity: 0.6;
  transition: all 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 0 10px;
}