li{
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

li:hover{
  opacity: 0.6;
  transition: all 0.3s;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 0 10px;
}

.logo_nome{
  margin: 0;
}

@media screen and (max-width: 350px){

  nav ul{
    display: none;
  }

  header {
    display: flex;
  }

}